<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxie.mybatis.mapper.UserMapper">

    <!--int insertUsder();-->
    <insert id="insertUser">
        insert into table_user values (null,'admin02','123456',23,'女','123457@qq.com')
    </insert>

</mapper>