<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxie.mybatis.mapper.UserMapper">

    <!--int insertUsder();-->
    <insert id="insertUser">
        insert into table_user values (null,'admin02','123456',23,'女','123457@qq.com')
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        update table_user set username = '张三' where id = 6
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from table_user where id = 7
    </delete>

    <!--User getUserById();-->
    <!--
       查询功能的标签必须设置resultType或resultMap
       resultType：设置默认的映射关系
       resultMap:设置自定义的映射关系
    -->
    <select id="getUserById" resultType="com.itxie.mybatis.pojo.User">
        select * from table_user where id = 2
    </select>

    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="User">
        select * from table_user
    </select>

</mapper>